<header>
  <span>
    <h1>HN Feed</h1>
    <h2>We &lt;3 hacker news!</h2>
  </span>
</header>
<section class="feed">
  <app-blog *ngFor="let blog of blogs" [blog]="blog" (blogDeleted)="blogDeleted($event)"></app-blog>
</section>