<a *ngIf="(blog.story_url || blog.url) && (blog.story_title || blog.title)" class="item-link"
    href="{{ blog.story_url || blog.url }}" target="_bank">
    <div class="item">
        <span class="title">
            {{ blog.story_title || blog.title }}.
        </span>
        <span class="author">
            - {{blog.author}} -
        </span>
        <span class="right">
            <span class="time">
                {{ blog.created_at | formatDate }}
            </span>
            <span class="delete">
                <button class="delete-btn" (click)="deleteBlog($event, blog._id)" [disabled]="isDelete">
                    <img src="../../../assets/images/trash-alt-solid.svg" alt="delete blog" class="delete-icon">
                </button>
            </span>
        </span>
    </div>
</a>