.item {
  padding: 1rem;
  border-bottom: #ccc 1px solid;
  font-size: 13px;
  background-color: #fff;
}

.item:hover {
  padding: 1rem;
  .delete {
    visibility: visible;
  }
  background-color: #fafafa;
}

.title,
.time {
  color: #333;
}

.author {
  color: #999;
  margin-left: 0.2rem;
}

.right {
  float: right;
}

.delete {
  margin-left: 2rem;
  visibility: hidden;
}

.delete-icon {
  height: 13px;
}

.item-link {
  text-decoration: none;
}

.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
